
html {
  scroll-behavior: smooth;
}

section {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}

section.show {
  opacity: 1;
  transform: translateY(0);
}

.box, .card {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}

.box.show, .card.show {
  opacity: 1;
  transform: translateY(0);
}



body {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  background-color: #000000;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}

#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

h2 {
  font-size: 25px;
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 10px;
}

h3 {
  color: #ffffff;
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
}

.info h1 {
  font-size: 18px;
  font-family: 'Press Start 2P', cursive;
}

.info h1 span {
  
  color: #747474;
  font-weight: bold;
  font-size: 33px;
  display: inline-block;
  font-family: 'Press Start 2P', cursive;
}


.info p {
  color: #ffffff;
  font-size: 12px;
  line-height: 1.5;
  font-family: 'Press Start 2P', cursive;
}

.hero {
  margin-top: 15px;
  display: flex;
  flex-direction: row-reverse; 
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
  flex-wrap: wrap;
  gap: 30px;
}

.profile-pic img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  margin-right: 75px;
  box-shadow: #ffffff 0px 0px 20px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px); 
  }
  100% {
    transform: translateY(0px); 
  }
}


.subtitle {
  font-size: 17px;
  width: fit-content;
  animation: blink-caret 0.75s step-end infinite;
  text-shadow: 0 0 25px #ffffff;
}

.info {
  flex: 1;
  text-align: left;
  max-width: 500px;
  font: 400 16px/1.5 'Press Start 2P', cursive;
  margin-left: 75px;
}

.social-icons {
  margin: 20px 0;
  display: flex;
  gap: 15px;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
  font-size: 18px;
  transition: all 0.3s;
  text-decoration: none;
}

.social-icons a:hover {
  background-color: #ffffff;
  color: #0d0d0d;
  .cf-icon {
    color: #000000;
  }
}

.social-icons a .cf-icon {
  font-size:21px;
  color:#ffffff;
}


.download-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 25px;
  border: 2px solid #ffffff;
  color: #0d0d0d;
  background-color: #ffffff;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.3s;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}

.download-btn:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255);
  background-color: #000000;
  color: #ffffff;
}

.projects, .skills, .contact, .about-me {
  padding: 40px 20px;
  text-align: center;
  justify-content: center;
}

.projects h2, .skills h2, .about-me h2 {
  font-size: 25px;
  border: 2px solid #ffffff;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 20px;
  width: 32%;
  box-shadow: #ffffff 0px 0px 10px;
  background-color: #ffffff;
  color: #000000;

}

.about-me {
  padding: 40px;
  border-radius: 10px;
  margin-top: 20px;
}

.about-me .about-text {
  color: #ffffff;
  font-size: 10px;
  line-height: 1.5;
  margin: 25px;
  padding: 30px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}


.about-me h4 {
    text-align: center;
    font-size: 12px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 50px;
    padding: 10px;
    width: 32%;
    margin: auto;
    box-shadow: #ffffff 0px 0px 10px;
    margin-bottom: 20px;
  

  }

.experience-blocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 30px;
  background: inherit;
}

.card {
  background: #000000;
  color: #ffffff;
  border-radius: 15px;
  border: 1px solid #ffffff;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: left;
  padding: 20px;
  padding-bottom: 0;
  transition: box-shadow 0.3s, transform 0.2s ease-in-out;
  height: 95%;
  margin-bottom: 10px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}


.card h3 {
  margin: 0;
  display: block;
  text-align: center;
  font-size: 0.8rem;
  color: #ffffff;
  font-weight: lighter;
  padding: 5px;
}

.card .card-description {
  font-size: 0.5rem;
  color: #ffffff;
  line-height: 1.5;
  margin: 5px;
  font-weight: lighter;
  border: 1px solid #666;
  padding: 15px;
  border-radius: 5px;
  background-color: #1a1a1a;
  box-shadow: 0 5px 10px rgba(81, 81, 81, 0.5);
}

.card .card-duration {
  font-size: 0.6rem;
  color: #ffffff;
  margin-bottom: 5px;
  text-align: center;
  padding: 5px;
  font-size: 7px;
}

.card a {
  color: #ffffff;
  text-decoration: none;
}

.card h3:hover {
  transition: color 0.3s;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.card .card-role {
  font-size: 0.7rem;
  color: #808080;
  margin: 5px;
  text-align: center;
  padding: 5px;
  border-radius: 50px;
  font-weight: bolder;
}


.projects  {
  padding: 40px 20px;
  border-radius: 10px;
  margin-top: 20px;
}


.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.box {
  background-color: #000000;
  padding: 20px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  color: #fff;
  height: 85%;
  margin-top: 20px;
}

.box h4 {
  font-size: 12px;
}

.box:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255);
  transition: transform 0.3s, box-shadow 0.3s;
  transform: scale(1.02);
  
}

.box a {
  display: flex;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  padding: 5px;
  border-radius: 50px;
  top: 95%;
  justify-content: center;
}

.box ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.box .proj-description {
  display: flex;
  font-size: 0.5rem;
  color: #ffffff;
  line-height: 1.5;
  margin: 5px;
  font-weight: lighter;
  border: 1px solid #666;
  padding: 17px;
  border-radius: 5px;
  background-color: #1a1a1a;
  height: 35%;
  align-items: center;
  top: 50%;
  box-shadow: 0 5px 20px rgba(81, 81, 81, 0.5);
}


.box ul li {
  margin: 5px;
  font-size: 8px;
  padding: 3px 6px;
  background-color: #1a1a1a;
  border-radius: 5px;
  border: 1px solid #ffffff;


}
.box a:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255);
  transition: background-color 0.3s, color 0.3s;
}


.languages {
  background-color: #1a1a1a;
  padding: 20px;
  padding-bottom: 30px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  color: #fff;
  width: 88%;
  margin: 0 auto;
}

.languages h4 {
  background-color: #ffffff;
  color: #000000;
  border-radius: 50px;
  padding: 10px;
  width: 40%;
  margin: auto;
  line-height: 1.2em;
}


.tools {
  background-color: #1a1a1a;
  padding: 20px;
  padding-bottom: 30px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  color: #fff;
  width: 88%;
  margin: 30px auto;
  text-align: center;
}

.tools h4 {
  background-color: #ffffff;
  color: #000000;
  border-radius: 50px;
  padding: 10px;
  width: 40%;
  margin: auto;
  line-height: 1.2em;
}

.other-skills {
  background-color: #1a1a1a;
  padding: 20px;
  padding-bottom: 30px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  color: #fff;
  width: 88%;
  margin: 30px auto;
  text-align: center;
}

.other-skills ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.other-skills ul li {
  margin: 5px;
  font-size: 12px;
  padding: 3px 6px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.other-skills h4 {
  background-color: #ffffff;
  color: #000000;
  border-radius: 50px;
  padding: 10px;
  width: 40%;
  margin: auto;
  line-height: 1.2em;
  margin-bottom: 10px;
}

.timeline {
  margin-top: 20px;
  display: grid;
  gap: 20px;
}

.edu-item {
  background-color: #000000;
  padding: 15px;
  border-left: 5px solid #ffffff;
  text-align: left;
  border-radius: 5px;
}

form {
  margin-top: 20px;
  display: grid;
  gap: 15px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: #ffffff 5px solid;
  padding: 20px;
  border-radius: 50px;
  background-color: #1a1a1a;
}

form:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255);
  transition: box-shadow 0.3s;
}

input, textarea {
  padding: 10px;
  background-color: #000000;
  color: white;
  border: 1px solid #ffffff;
  border-radius: 50px;
}

.submit {
  padding: 10px;
  background-color: #fff9f9;
  color: rgb(0, 0, 0);
  border-radius: 50px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
}

.submit:hover {
  background-color: #000000;
  border: 2px solid #ffffff;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;

}

.contact-info {
  text-align: left;
  max-width: 400px;
  margin: 20px auto 0 auto;
  font-size: 10px;
  line-height: 1.5;
  color: #ffffff;
  border: 5px solid #ffffff;
  padding: 20px;
  border-radius: 50px;
  background-color: #1a1a1a;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);

}

.info-icon {
  margin-right: 5px;
  margin-left: 5px;
  color: #ffffff;
  font-size: 15px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #1a1a1a;
  font-size: 10px;
  color: #888;
}

footer p {
  margin: 10px;
}

.footer-icon {
  font-size: 20px;
  color: #888;
  transition: color 0.3s ease;
}

footer a {
  text-decoration: none;

}

.footer-icon:hover {
  color: #fff;
}

.navbar {
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: sticky;
  top: 10px;
  z-index: 100;
  border-radius: 25px;
  border: 1px #ffffff solid;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  box-shadow: 0 10px 25px rgb(121, 121, 121,0.3);
}

.logo img {
  width: 35px;
  height: 35px;
  border: 2px solid #ffffff;
  border-radius: 50px;
}

.logo img:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  padding: 10px;
  font-weight: bold;
}

.nav-links li a:hover {
  color: #000000;
  background-color: white;
  border-radius: 50px;
  transition: background-color 0.3s, color 0.3s;
  
}


.icon-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.icon-grid img {
  width: 60px;
  height: 60px;
  background-color: #000000;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
  transition: transform 0.3s, box-shadow 0.3s;
}

.icon-grid img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #ffffff;
}

.icon-with-text span {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 8px;
  color: #ffffff;
  width: 80px;
  line-height: 1.2em;

}

.navbar2 , .sidebar {
  display: none;
}



@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .profile-pic img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }

  .info {
    margin-left: 0;
  }

  .boxes {
    grid-template-columns: repeat(2, 1fr);
  }

  .languages,
  .tools {
    width: 80%;
  }

  form {
    max-width: 90%;
  }

  .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap; 
  overflow-x: auto;   
  white-space: nowrap;
  max-width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

}

@media (max-width: 700px) {
  body {
    font-size: 8px;
  }

  .info h1 {
    font-size: 15px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
  }

  .info {
    padding: 20px;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .info h1 span{
    font-size: 21px;
    
  }

  .info p {
    font-size: 8px;
    line-height: 1.3;
    margin-bottom: 10px;
    width: 75%;
  }

  .boxes {
    grid-template-columns: 1fr;
  }

  .box {
    height:max-content;
  }

  .box h4 {
    font-size: 10px;
  }

  .box .proj-description {
    font-size: 0.4rem;
  }

  .profile-pic img {
    width: 220px;
    height: 220px;
  }

  .icon-grid img {
    width: 40px;
    height: 40px;
  }

  .download-btn {
    padding: 8px 15px;
    font-size: 10px;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    font-size: 14px;
    .cf-icon {
      font-size: 14px;
    }
  }

  .about-me h4 {
    font-size: 8px;
  }

  .about-me .about-text {
    font-size: 7px;
    margin: 5px 0 25px 0;
    line-height: 1.4;
    width: 82%;
  }

  .languages,
  .tools,
  .other-skills {
    width: 85%;
  }

  .other-skills ul li {
    font-size: 8px;
    padding: 4px;
  }

  

  .projects h2, .skills h2, .about-me h2 {
    font-size: 18px;
    width: 60%;
  }

  .navbar {
  display: none;
}

  .navbar2 {
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top: 10px;
  z-index: 100;
  border-radius: 25px;
  border: 1px #ffffff solid;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  box-shadow: 0 10px 25px rgb(121, 121, 121,0.3);
}

.logo img {
  border-radius: 50%;
}

.open-btn {
  background: none;
  color: rgb(255, 255, 255);
  font-size: 25px;
  cursor: pointer;
  border-radius: 50px;
  font-weight: bold;
  border: none;
}

.typing {
    font-size: 14px;
  }

.sidebar {
  position: fixed;
  top: 10px;
  right: 50px;
  background-color: #1c1c1c;
  transition: 0.3s;
  padding-top: 50px;
  z-index: 1000;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  border-radius: 15px;
  height: 50%;
}

.sidebar a {
  display: block;
  padding: 12px 20px;
  color: #ddd;
  text-decoration: none;
  font-size: 12px;
  transition: color 0.3s;
  text-align: right;
  position: relative;
  margin: 20px 30px 0 30px;
}

.sidebar a:hover {
  color: #000000;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.close-btn {
  position: absolute;
  top: 10%;
  left: 85%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: color 0.3s;
  background: none;
  border: none;
}

.contact-info {
  font-size: 6px;
  padding: 15px;
}

.nav-links a {
  font-size: 5px;
} 

footer p {
  font-size: 7px;
  margin: 5px 0;
  line-height: 1.2;}

.footer-icon {
  font-size: 20px;
}

  .hero {
    margin-top: 30px;
    flex-direction: column;
    text-align: center;
  }
}

































